{% extends "layouts/base.html.twig" %}

{% block body %}


	<div class="col-md-6 mx-auto">
		<h1 class="text-center mt-5">
			Créer un compte!
		</h1>
		<div class="alert-info text-center">
			{{ infos }}
		</div>
		{{ form_start(form) }}
		<div class="row mt-5">
			<div class="col-md-6">
				{{ form_row(form.firstname) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.lastname) }}
			</div>
		</div>

		{{ form_row(form.email) }}
		{{ form_row(form.password) }}
		{{ form_row(form.submit) }}

		{{ form_end(form) }}

	</div>

{% endblock %}
